<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://redhat.com" target="_blank"><img
          src="{{uiRootPath}}/img/logo.png" height="40px" alt="Cloud Native Architecture Solution Patterns"></a>
      <a class="navbar-item" style="font-size: 24px; color: white" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

       
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Solution Patterns</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Adopt Change Data Capture for <br/>stack modernization</a>
            <a class="navbar-item" href="#">Edge-to-Cloud Pipelines</a>     <a class="navbar-item" href="#">Event driven architecture</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Other</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://redhat-gitops-patterns.io/">GitOps Solution Patterns</a>
            <a class="navbar-item" href="https://hybrid-cloud-patterns.io/">Hybrid Cloud Solution Patterns</a>
          </div>
        </div>

        <a class="navbar-item" target="_blank" href="https://www.redhat.com/en/products/middleware">Red Hat Application Services</a>

        <a class="navbar-item" target="_blank" href="https://developers.redhat.com/middleware">Learn more</a>

      </div>
    </div>
  </nav>
</header>
